annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
h11
idna
joblib
numpy
pandas
Pillow
pydantic
pydantic_core
python-dateutil
requests
scikit-learn
scipy
six
starlette
threadpoolctl
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
motor
python-dotenv
passlib[bcrypt]
